<%= form_for(user) do |f| %>
  <div class='row'>
    <div class="form-group">
      <%= f.label :name, '新しい名前', class:"col-xs-6" %>
      <div class="col-xs-6"><%= f.text_field :name, class: 'form-control' %></div>
    </div>

    <div class="form-group">
      <%= f.label :email, '新しいアドレス', class:"col-xs-6" %>
      <div class="col-xs-6"><%= f.text_field :email, class: 'form-control' %></div>
    </div>

    <div class="form-group">
      <%= f.submit '変更', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
